<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>Add friend</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="friendForm">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <label for="name">Add Name</label>
          <ion-input type="text" id="name" formControlName="name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <label for="name">Add Birthday</label>
          <ion-input type="text" id="name" formControlName="name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>

</ion-footer>
