<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
        <ion-title>{{'COMMON.REGISTER' | translate}}</ion-title>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button [disabled]="currentLanguage === 'en'" (click)="switchLanguage('en')">EN</ion-button>
        <ion-button [disabled]="currentLanguage === 'bg'" (click)="switchLanguage('bg')">БГ</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/login']" routerDirection="backward">{{ 'COMMON.REGISTER' | translate }}
    </ion-button>
  </div>
</ion-content>
